* {
  margin: 0px;
  padding: 0px;
}

.section1 {
  background-color: #502314;
  height: 600px;
}

.nav ul {
  margin-left: 500px;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  font-family: Flame-Bold;
}

.nav ul a {
  justify-content: space-between;
  margin-left: 70px;
}

.logo img {
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}

.description h1 {
    color: white;
    font-size: 70px;
    font-family: Flame-Bold;
    margin-left: 30px;
    margin-top: 70px;
}
