* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.section1 {
  height: 700px;
  width: 100%;
  background-image: url("images/pizza4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav ul {
  margin-left: 400px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  font-family: Flame-Bold;
}

.nav ul a {
  justify-content: space-between;
  margin-left: 70px;
}

.logo img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: 50px;
}

.description h1 {
  color: white;
  font-size: 70px;
  font-family: Flame-Bold;
  margin-left: 30px;
  margin-top: 70px;
}

/* .section2 {
  height: 700px;
  width: 100%;
} */

.menu {
  text-align: center;
  font-family: Flame-Bold;
}

.menu h1 {
  font-weight: bold;
}

.menu p {
  font-size: 20px;
}

.row {
  margin-left: 50px;
  justify-content: space-between;
}

.contact {
  height: 700px;
  width: 100%;
}

.contact h1 {
  margin-left: 30px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact a {
  margin-left: 30px;
}

.form-control{
  width: 500px;
}

.form-group {
 margin-left: 30px;
 margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .section1 {
    height: 300px;
    width: 100%;
    background-image: url("images/pizza4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .nav ul {
    margin-left: 50px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    font-family: Flame-Bold;
  }

  .nav ul a {
    justify-content: space-between;
    margin-left: 10px;
  }

  .logo img {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .description h1 {
    color: white;
    font-size: 20px;
    font-family: Flame-Bold;
    margin-left: 20px;
    margin-top: 50px;
  }
}
