* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.section1 {
  height: 700px;
  width: 100%;
  background-image: url("images/pizza4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav ul {
  margin-left: 400px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  font-family: Flame-Bold;
}

.nav ul a {
  justify-content: space-between;
  margin-left: 70px;
}

.logo img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: 50px;
}

.description h1 {
  color: white;
  font-size: 70px;
  font-family: Flame-Bold;
  margin-left: 30px;
  margin-top: 70px;
}

.section2 {
  height: 700px;
  width: 100%;
}

.menu {
  text-align: center;
  font-family: Flame-Bold;
}

.menu p{
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .section1 {
    height: 300px;
    width: 100%;
    background-image: url("images/pizza4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .nav ul {
    margin-left: 50px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    font-family: Flame-Bold;
  }

  .nav ul a {
    justify-content: space-between;
    margin-left: 10px;
  }

  .logo img {
    height: 20px;
    width: 20px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .description h1 {
    color: white;
    font-size: 20px;
    font-family: Flame-Bold;
    margin-left: 20px;
    margin-top: 50px;
  }
}
